<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand" style="color: white;">Question Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="onOpenModal(null,'add')" style="color: white;">Add Question <span class="sr-only">(current)</span></a>  
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="searchQuestions(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search ..." required>
        </form>
    </div>
</nav>
<div class="container" id="main-container">
   
            <div class="row">
               
                  <mat-horizontal-stepper>
                     <div *ngFor="let question of questions" class="col-md-6 col-xl-3">
                     <mat-step>
                        <ng-template matStepLabel="Question"> Question</ng-template>
                  
                   <div class="card m-b-30">
                       <div class="card-body row">
                           
                           <div class="col-6 card-title align-self-center mb-0">
                               <h5>{{question?.client}}</h5>
                               
                           </div>
                       </div>
                       <ul class="list-group list-group-flush">
                         <li class="list-group-item">Category: {{question?.category}}</li>
                         <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{question?.question}}</li>
 
                       </ul>
 
                   </div>

                   <div class="card m-b-30" (click)="onOpenModal(question,'edit')" data-placement="">
             
                     <div class="card m-b-30">
                        
                        <ul class="list-group list-group-flush">

                            <!-- <li (click)="onOpenModal(question,'edit')" class="list-group-item"><i class="fa fa-pencil float-right"></i>{{question?.response}}</li> -->
                            <!-- <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{question?.comments}}</li> -->
                            <div id="updateQuestionModal" tabindex="-1" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
                              <div  class="modal-body">
                                 <form #editForm="ngForm">
                                    <div class="form-group">
                                    <label for="id"></label>
                                    <input type="hidden" ngModel="{{editQuestion?.id}}" ngModel="{{editFiles?.id}}"  name="id" class="form-control" id="id" placeholder="id">
                                    </div>
                                    <div class="form-group">
                                       <label for="client"></label>
                                       <input type="hidden" ngModel="{{editQuestion?.client}}" ngModel="{{editFiles?.client}}" name="client" class="form-control" id="client" aria-describedby="emailHelp" placeholder="client">
                                    </div>
                                    <div class="form-group">
                                        <label for="question"></label>
                                        <input type="hidden" ngModel="{{editQuestion?.question}}" ngModel="{{editFiles?.question}}" name="question" class="form-control" id="question" placeholder="Question">
                                     </div>
                                    <div class="form-group">
                                       <label for="response">response</label>
                                       <input type="text" ngModel="{{editQuestion?.response}}" ngModel="{{editFiles?.response}}" name="response" class="form-control" id="response" placeholder={{question.response}}>
                                    </div>
                                    <div class="form-group">
                                        <label for="category"></label>
                                        <input type="hidden" ngModel="{{editQuestion?.category}}" ngModel="{{editFiles?.category}}" name="category" class="form-control" id="category" placeholder="Category">
                                     </div>
                                     <!-- <div class="form-group">
                                        <label for="compliance"></label>
                                        <input type="hidden" ngModel="{{editQuestion?.compliance}}" name="compliance" class="form-control" id="compliance" placeholder="compliance">
                                     </div> -->
                                   <div class="form-group">
                                       <label for="comments">comments</label>
                                       <input type="text" ngModel="{{editQuestion?.comments}}" ngModel="{{editFiles?.comments}}" name="Comments" class="form-control" id="comments" name="comments" placeholder={{question.comments}} >
                                    </div>
                                    <!-- <div class="form-group">
                                      <label for="tenderResponseDate"></label>
                                      <input type="hidden" ngModel="{{editQuestion?.tenderResponseDate}}" name="tenderResponseDate" class="form-control" id="tenderResponseDate" name="tenderResponseDate" placeholder="tenderResponseDate">
                                   </div> -->
                                    <div class="modal-footer">
                                       
                                       <button (click)="onUpdateQuestion(editForm.value)" (click)="onUpdateFiles(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                                    </div>
                                 </form>
                              </div>
                           </div>  
                        </ul>
                        
                    </div>
                     
                  </div>
                   <button mat-button matStepperPrevious>Back</button>
                   <button mat-button matStepperNext>Next</button>
        

               </mat-step>
               
            </div>
            
            </mat-horizontal-stepper>
               </div>
            
               </div>

   
    
<!-- Add Question Modal -->
<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addQuestionModalLabel">Add Question</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddQuestion(addForm)">
            <div class="form-group">
                <label for="id">id</label>
                <input type="text" ngModel name="id" class="form-control" id="id" placeholder="id" required>
            </div>
            <div class="form-group">
               <label for="client">client</label>
               <input type="text" ngModel name="client" class="form-control" id="client" placeholder="client" required>
            </div>
            
            <div class="form-group">
               <label for="question">question</label>
               <input type="text" ngModel name="question" class="form-control" id="question" placeholder="Question" required>
            </div>
            <div class="form-group">
               <label for="response">response</label>
               <input type="text" ngModel name="response" class="form-control" id="response" placeholder="response" required>
                
             </div>
             <div class="form-group">
                <label for="category">category</label>
                <input type="text" ngModel name="category" class="form-control" id="category" placeholder="Category" required>
             </div>
             <div class="form-group">
                <label for="compliance">compliance</label>
                <input type="text" ngModel name="compliance" class="form-control" id="compliance" placeholder="compliance" required>
             </div>
            <div class="form-group">
               <label for="comments">comments</label>
               <input type="text" ngModel name="comments" class="form-control" id="comments" placeholder="comments" required>
            </div>
            <div class="form-group">
               <label for="tenderResponseDate">tenderResponseDate</label>
               <input type="date" ngModel name="tenderResponseDate" class="form-control" id="tenderResponseDate" placeholder="tenderResponseDate" required>
            </div>
   
   
            <div class="modal-footer">
               <button type="button" id="add-question-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
<!-- Edit Modal -->


  <!-- Delete Modal -->
  <div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Question</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete question {{deleteQuestion?.client}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteQuestion(deleteQuestionId)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>

  <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload> -->

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        
    </button>
</div>
  

  <!-- Notification for no employees -->
<div *ngIf="questions?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO Questions!</h4>
      <p>No Questions were found.</p>
    </div>
    </div>
  
